@media only screen and (min-width: 768px){
	header{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	header .container h1, header .container h5{
		display: inline;
	}
	header .container{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		text-align: center;
		width: 35em;
	}
	header .container div{
		display: flex;
		flex-direction: column;
	}
	.search{
		display: inline;
		position: absolute;
		right: 1.5em;
		top: 2.5em;
	}
}
@media only screen and (min-width: 760px){
	main .base .article-panel .three-blocks span{
		width: 100%;
	}	
}
@media only screen and (min-width: 1150px){
	main .base .article-panel .three-blocks span{
		width: 100%;
	}	
}
@media only screen and (max-width: 768px){
	.search, main nav{
		display: none;
	}
	main .base{
		width: 100%;
	}
}