:root{
	--background: #cfffcf;
	--borderHeader: 1px solid #000000;
	--greenWithOpacity: rgba(0, 90, 0, 0.9);
	--green: #009000;
	--darkGreen: #005000;
	--lightGreen: rgba(100, 190, 100, 1.0);
	--margin: 0.5em;
	--hover-c: #ffffff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	border: 0;
	outline: 0;
	user-select: none;
}
body{
	background-color: var(--background);
}

header{
	background-color: var(--background);
	text-align: center;
	border: var(--borderHeader);
	padding: 1em;
	margin: var(--margin);
	box-shadow: 3px 3px 8px var(--lightGreen);
}
header h1{
	font-family: "Times New Roman", serif;
	text-shadow: 1px 1px 3px var(--lightGreen);
	color: var(--green);
}
header h5{
	font-family: "Courier New", monospace;
	color: var(--green);
}

header .search input, header .search button{
	background-color: transparent;
	color: #ffffff;
	padding: 3px 8px;
	font-family: "Times New Roman", serif;
	font-size: 0.75em;
}
header .search{
	background-color: var(--greenWithOpacity);
	color:  #ffffff;
	border-radius: 5em;
}
header .search input::placeholder{
	color: #dedede;
	font-size: 0.75em;
	font-family: "Times New Roman", serif;
}

main{
	margin: var(--margin);
	display: flex;
	margin-bottom: 3em;
}

main nav{
	width: 15em;
	border: var(--borderHeader);
	margin: var(--margin);
}
main nav h1{
	text-align: center;
	color: var(--green);
}
main nav ul li:hover{
	background-color: var(--green) !important;
	color: var(--hover-c);
}
main nav ul, main nav ul li{
	text-decoration: none;
	list-style: none;
	cursor: default;
}
main nav ul li{
	padding: 1em;
	border-bottom: 1px solid #000000;
	color: var(--darkGreen);
	font-weight: bold;
}
main nav ul li:nth-child(even){
	background-color: #bcffbc;
}
main nav ul li:last-child{
	border-bottom: 0;
}


main .base{
	width: 80em;
	text-align: justify;
}
main .base .article-panel,
main .base .article-panel h1,
main .base .article-panel h3,
main .base .article-panel article{
	user-select: text;
}
main .base .article-panel h1,
main .base .article-panel h3{
	color: var(--darkGreen);
}
main .base article{
	line-height: 19px;
	padding: var(--margin);
}
main .base .article-panel .three-blocks{
	display: flex;
	flex-direction: row;
}
main .base .article-panel .three-blocks span{
	width: 16em;
}
main .base .article-panel .three-blocks span:nth-child(even){
	padding: 0.75em;
}
main .base .article-panel article span:first-child::first-letter, main .base .article-panel article::first-letter{
	display: inline !important;
	color: var(--green) !important;
	font-size: 35px !important;
}

footer{
	text-align: center;
	border: var(--borderHeader);
	margin: var(--margin);
	background-color: var(--green);
	color: #ffffff;
	padding: 5px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}